@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;700&family=Manrope:wght@500;700;800&display=swap");

:root {
  direction: rtl;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f1f4f9;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

#root {
  min-height: 100vh;
}
